page-login {
  .label {
    text-align: center;
    color: black;
    font-size: 3em;
    font-style: unset;
  }
  .forgotpass {
    font-size: 1.5em;
  }
  .login {
    text-align: center;
  }
  .toolbar-background {
    background-color: rgba(202, 17, 17, 0.932);
  }
  .bttn_size {
    width: 100px;
  }
  .bg-style {
    background: #ffffff;
  }
}
