page-profile {
  .text {
    text-align: center;
    color: rgb(24, 21, 21);
    font-size: 3em;
    font-style: unset;
  }
  .text2 {
    text-align: center;
    color: rgb(24, 21, 21);
    font-size: 1em;
    font-style: unset;
  }
  .toolbar-background {
    background-color: rgba(202, 17, 17, 0.932);
  }
}
