page-signup {
  .label {
    text-align: center;
    color: rgb(15, 14, 14);
    font-size: 3em;
    font-style: unset;
  }
  .bttn_size {
    width: 325px;
  }
  .toolbar-background {
    background-color: rgba(202, 17, 17, 0.932);
  }
}
